// File: _components.scss
// anything reusable such as buttons, navbars, cards etc.

/* STYLES GO HERE */

div.scroll-arrow {
    grid-area: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    img {
        width: 3rem;
    }

    p {
        font-family: itc-avant-garde-gothic-pro, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        margin: 0.5rem 0.5rem;
    }
}